<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
    <link data-th-href="@{/css/odometer-theme-car.css}" rel="stylesheet">
    <title>Primer</title>
    <script th:inline="javascript">
        window.odometerOptions = {
          duration: 500
          ,animation: 'count'
        };
    </script>
</head>

<body>
    <div class="container">

        <div class="row">
            <div id="title">
                <h1>Primer</h1>
            </div>
        </div>

        <div class="row">
            <div id="counter" class="odometer"></div>
        </div>
        <p>Last prime: <span id="lastPrime"></span></p>

    </div>

    <script type="text/javascript" th:src="@{/js/odometer.min.js}"></script>
    <script th:inline="javascript">
        function initialize() {
            // TODO configure me
            const eventSource = new EventSource('http://192.168.0.17:30000/sse/notification');
            eventSource.onmessage = event => {
                const primeCandidate = JSON.parse(event.data);
                document.getElementById("counter").innerHTML = primeCandidate.number;
                if (primeCandidate.prime) {
                    document.getElementById("lastPrime").innerHTML = primeCandidate.number;
                }
            };
            eventSource.onopen = event => console.log('open');
            eventSource.onerror = event => console.log('error', event);
        }
        window.onload = initialize;
    </script>
</body>
</html>