<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
    <title>Primer</title>
    <script th:inline="javascript">
        function initialize() {
            // TODO configure me
            const eventSource = new EventSource('http://192.168.0.17:30000/sse/notification');
            eventSource.onmessage = e => {
                const msg = e.data;
                document.getElementById("thisNumber").innerHTML = msg;
            };
            eventSource.onopen = e => console.log('open');
            eventSource.onerror = e => {
                if (e.readyState == EventSource.CLOSED) {
                    console.log('close');
                } else {
                    console.log(e);
                }
            };
            eventSource.addEventListener('second', function(e) {
                console.log('second', e.data);
            }, false);
        }
        window.onload = initialize;
    </script>
</head>
<body>

<div class="container">

    <div class="row">
        <div id="title">
            <h1>Primer</h1>
        </div>
    </div>

    <p>Latest: <span id="thisNumber"></span></p>

</div>